/* fonts.css */
/* font-face */
@font-face{font-family:'consolas';src:url('fonts/consola.ttf');}
@font-face{font-family:'segoeuil';src:url('fonts/segoeuil.ttf');}
@font-face{font-family:'tahoma';src:url('fonts/tahoma.ttf');}
@font-face{font-family:'arialnarrow';src:url('fonts/arialnarrow.ttf');}